<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  <listener>
    <listener-class>chessapp.server.ServerInitDestroyHandler</listener-class>
  </listener>
  
  <!-- Part servlets -->
  <servlet>
    <servlet-name>GameExplorer</servlet-name>
    <servlet-class>chessapp.client.part.GameExplorerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameExplorer</servlet-name>
    <url-pattern>/main/part/explorer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>chessapp.client.part.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/main/part/game</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>chessapp.client.part.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/main/part/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>chessapp.client.part.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/main/part/profile</url-pattern>
  </servlet-mapping>
  <!-- End of Part servlets -->
  <!-- Game initialization and lobbies Servlets  -->
  <servlet>
    <servlet-name>CreateJoinServlet</servlet-name>
    <servlet-class>chessapp.client.main.CreateJoinGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJoinServlet</servlet-name>
    <url-pattern>/main/CreateJoinGameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGameLobbiesServlet</servlet-name>
    <servlet-class>chessapp.client.main.GetGameLobbiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGameLobbiesServlet</servlet-name>
    <url-pattern>/main/GetGameLobbiesServlet</url-pattern>
  </servlet-mapping>
  <!-- End of Game init servlet -->
  <servlet>
    <servlet-name>ExploreLatestGamesServlet</servlet-name>
    <servlet-class>chessapp.client.main.ExploreLatestGamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExploreLatestGamesServlet</servlet-name>
    <url-pattern>/main/ExploreLatestGamesServlet</url-pattern>
  </servlet-mapping>
  <!-- Default route handling -->
  <servlet>
    <servlet-name>DefaultServlet</servlet-name>
    <servlet-class>chessapp.client.main.DefaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  
  <!-- Authentication route, login and registration page -->
  <servlet>
    <servlet-name>AuthPageServlet</servlet-name>
    <servlet-class>chessapp.client.authenticate.AuthPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthPageServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  
  <!-- Main page rout -->
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>chessapp.client.main.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/main/index</url-pattern>
  </servlet-mapping>
  
  
  <!-- Authetication servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>chessapp.client.authenticate.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>chessapp.client.authenticate.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>chessapp.client.authenticate.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <!-- End of Authentication servlets -->
  
  
  <!-- Registering websocket connections -->
  <servlet>
    <servlet-name>WebSocketServlet</servlet-name>
    <servlet-class>chessapp.client.main.WebSocketRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocketServlet</servlet-name>
    <url-pattern>/main/websocket</url-pattern>
  </servlet-mapping>
  
  
  <!-- Security filter -->
  <filter>
    <filter-name>Authfilter</filter-name>
    <filter-class>chessapp.client.authenticate.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Authfilter</filter-name>
    <url-pattern>/main/*</url-pattern>
  </filter-mapping>
   
  
  <!-- Old servlets for proof of concept  -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>chessapp.client.main.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>chessapp.client.main.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
</web-app>